{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- Basic -->
    <meta charset="UTF-8">
    <meta name="msapplication-TileImage" content="img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>
        {% block title %}

        {% endblock %}
    </title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/xfavicon.png.pagespeed.ic.LpAAi3cc7V.png' %}" sizes="192x192"/>
    <link rel="apple-touch-icon-precomposed" href="img/xfavicon.png.pagespeed.ic.LpAAi3cc7V.png"/>
    <!-- Vendor, Theme, nelly, single, gallery, 404 CSS -->
    <link href="{% static 'css/all.css' %}" rel="stylesheet"/>
    <!-- font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"/>
</head>

<body class="home">
    <!-- Site wrapper -->
    <div class="site-wrapper ">
        {% include 'header.html' %} 
        
        {% block body %}

        {% endblock %} 
        
        {% include 'footer.html' %} 
        
        {% include 'sticky_header.html' %} 
        
        {% include 'off_canvas_header.html' %}

        <a href="#" class="atbs-go-top btn btn-default hidden-xs js-go-top-el"><i class="mdicon mdicon-arrow_upward"></i></a>
        <div class="atbs-search-full ">
            <form action="#action" method="get">
                <input name="s" class="form-control" placeholder="Enter your keywords" type="text" value="">
                <span id="atbs-search-remove"><i class="mdicon mdicon-close"></i></span>
            </form>
        </div>
    </div>
    <!-- site-wrapper -->

    <!-- Vendor -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/vendors.js' %}"></script>
    <!-- Theme Scripts -->
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>