{% load static %}
<!-- .site-footer -->
<footer class="site-footer site-footer--white site-footer site-footer__section site-footer__section--flex">
    <div class="site-footer__section site-footer__section-top"></div>
    <div class="site-footer__section site-footer__section-bottom">
        <div class="container">
            <div class="text-center">
                <nav class="footer-menu footer-menu--bold">
                    <ul id="menu-footer-menu" class="navigation navigation--footer navigation--inline">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="javascript:void(0)">contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
<!-- .site-footer -->