{% load static %}
<!-- Site header -->
<header class="site-header ">
    <!-- version-white-->
    <!-- Mobile header -->
    <div id="atbs-mobile-header" class="mobile-header  visible-xs visible-sm header_home">
        <div class="mobile-header__inner mobile-header__inner--flex">
            <div class="header-branding header-branding--mobile mobile-header__section text-left">
                <div class="header-logo header-logo--mobile flexbox__item text-left">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'img/xlogo_03.png.pagespeed.ic.O75lOy8UBz.png' %}" alt="logo">
                    </a>
                </div>
            </div>

            <div class="mobile-header__section text-right">
                <a href="#atbs-offcanvas-primary" class="offcanvas-menu-toggle mobile-header-btn js-atbs-offcanvas-toggle">
                    <i class="mdicon mdicon-menu mdicon--last hidden-xs"></i><i class="mdicon mdicon-menu visible-xs-inline-block"></i>
                </a>
                <button type="submit" class="navigation-bar-btn js-search-dropdown-toggle"><i class="mdicon mdicon-search"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- Mobile header -->

    <!-- Navigation bar -->
    <nav class="navigation-bar navigation-bar--fullwidth  hidden-xs hidden-sm js-sticky-header-holder">
        <div class="container">
            <div class="header-main hidden-xs hidden-sm">
                <div class="container">
                    <div class="row row--flex row--vertical-center">
                        <div class="col-xs-5">
                            <ul id="menu-main-menu" class=" navigation navigation--main navigation--inline">
                                <li class="menu-item-cat-1">
                                    <a href="{% url 'home' %}" class="active">Home</a>
                                </li>

                                <li class="menu-item-cat-1 menu-item-has-children">
                                    <a href="single-1.html">Single</a>
                                    <ul class="sub-menu">
                                        <li><a href="single-1.html">single-1</a>
                                        </li>
                                        <li><a href="single-2.html">single-2</a>
                                        </li>
                                        <li><a href="single-3.html">single-3</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="menu-item-cat-1 menu-item-has-children">
                                    <a href="#">Archive</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="category-1.html">Category</a>
                                            <ul class="sub-menu">
                                                <li><a href="category-1.html">Category-1</a>
                                                </li>
                                                <li><a href="category-2.html">Category-2</a>
                                                </li>
                                                <li><a href="category-3.html">Category-3</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="tags.html">Archive Tags</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="author.html">Author</a>
                                            <ul class="sub-menu">
                                                <li><a href="author.html">Author</a>
                                                </li>
                                                <li><a href="author-no-sidebar.html">Author No Sidebar</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                {% if user.is_authenticated %}
                                <li class="menu-item-cat-1 menu-item-has-children">
                                    <a href="#">Profile</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'user:profileview' user.username %}">My Profile</a>
                                        </li>
                                        <li><a href="{% url 'home' %}">Add Blog</a>
                                        </li>
                                        <li><a href="{% url 'user:profileUpdateView' user.username %}">Settings</a>
                                        </li>
                                        <li><a href="{% url 'user:logoutview' %}">Logout</a>
                                        </li>
                                    </ul>
                                </li>
                                {% else %}
                                <li class="menu-item-cat-1">
                                    <a href="{% url 'user:signinview' %}">Login</a> / 
                                    <a href="{% url 'user:signupview' %}">Register</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>

                        <div class="col-xs-2 text-center">
                            <div class="header-logo ">
                                <a href="{% url 'home' %}">
                                    <img src="{% static 'img/200xNxlogo_03.png.pagespeed.ic.bGfn3N7DkY.png' %}" alt="logo" width="200">
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-5 text-right">
                            <div class="header-search-follow">
                                <ul class="social-list social-list--lg list-horizontal">
                                    <li><a href="#"><i class="mdicon mdicon-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="mdicon mdicon-twitter"></i></a>
                                    </li>
                                    <li><a href="#"><i class="mdicon mdicon-linkedin"></i></a>
                                    </li>
                                </ul>
                                <button type="submit" class="navigation-bar-btn js-search-dropdown-toggle"><i class="mdicon mdicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .header-search-dropdown -->
        </div>
        <!-- .container -->
    </nav>
    <!-- Navigation bar -->
</header>
<!-- Site header -->