{% extends "base.html" %} 
{% load static %} 
{% block body %}
<!-- Site content -->
<div class="site-content">
    <!-- atbs-block author -->
    <div class="atbs-block atbs-block--fullwidth module-author">
        <div class="container container--narrow">
            <div class="post--grid-a__inner">
                {% include "message_1.html" %}
                <div class="author-box" {% if userinfo.profile.cover_image %} style="background-image:url({{ userinfo.profile.cover_image.url }});" {% endif %}>
                    <div class="author-box__image">
                        <div class="author-avatar">
                            {% if userinfo.profile.profile_image %}
                                <img class="avatar photo" src="{{ userinfo.profile.profile_image.url }}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="author-box__text">
                        <div class="author-name meta-font">
                            <a href="javascript:void(0)">{{ userinfo.profile.name }}</a>
                        </div>
                        <div class="author-bio">
                            {{ userinfo.profile.about|safe }}
                        </div>
                        <div class="author-info">
                            <div class="row--vertical-center">
                                <ul class="list-unstyled list-horizontal list-space-sm">
                                    <li><a href="mailto:{{ userinfo.email }}"><i class="mdicon mdicon-mail_outline"></i><span class="sr-only">E-mail</span></a></li>
                                    <li><a href="{{ userinfo.profile.twitter }}"><i class="mdicon mdicon-twitter"></i><span class="sr-only">Twitter</span></a></li>
                                    <li><a href="{{ userinfo.profile.facebook }}"><i class="mdicon mdicon-facebook"></i><span class="sr-only">Facebook</span></a></li>
                                    <li><a href="{{ userinfo.profile.google_plus }}"><i class="mdicon mdicon-google-plus"></i><span class="sr-only">Google+</span></a></li>
                                    <li><a href="{{ userinfo.profile.instagram }}"><i class="mdicon mdicon-instagram"></i><span class="sr-only">Instagram</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- atbs-block author -->

    <!-- atbs-block  atbs-block-fullwidth -->
    <div class="atbs-block atbs-block--fullwidth">
        <div class="container container--narrow">
            <div class="atbs-block atbs-posts-list">
                <div class="posts-list">
                    <!-- category-2 -->
                    <div class="post--vertical-list row margin-bottom-40">
                        {% for user_post in posts %}
                            <div class="col-md-6 col-sm-6  post--vertical-list__item">
                                <article class="post post--vertical">
                                    <div class="post__thumb">
                                        <div class="background-img" style="background-image:url({{ user_post.image.url }});"></div>
                                        <a class="link-overlay" href="{% url 'post:postView' user_post.slug %}"></a>
                                        <div class="post-date date-style-2">
                                            <time class="time published" title="August 20, 2016 at 08:53 am">
                                                <span class="post-day">{{ user_post.pub_date_day }}</span>
                                                <span class="post-th">{{ user_post.pub_date_mon }}</span>
                                            </time>
                                        </div>
                                    </div>
                                    <div class="post__text">
                                        <a class="post__cat " href="category-1.html">{{ user_post.category.name }}</a>
                                        <h3 class="post__title"> <a href="single-1.html">{{ user_post.title }}</a></h3>
                                        <div class="post__excerpt">{{ user_post.description|safe }}</div>
                                        <div class="post__readmore clearfix ">
                                            <a href="{% url 'post:postView' user_post.slug %}" class="button__readmore"><span class="readmore__text">read More</span></a>
                                            <a href="{% url 'post:editPost' user_post.id %}" class="button__readmore"><span class="readmore__text">edit</span></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        {% endfor %}
                    </div><!-- category-2 -->
                </div>
                {% include "paginator.html" %}
            </div>
        </div>
    </div>
    <!-- atbs-block  atbs-block-fullwidth -->
</div>
<!-- .site-content -->
{% endblock %}